.App-header {
  background-color: #ff3232;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.utilities {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.utilities > button {
  margin: 0.3rem;
}

ul {
  padding-inline-start: 0px;
}

div > button {
  background-color: lightgray;
  border-color: inherit;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: .2rem;
  padding-bottom: .2rem;
}
